# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Artifacts
artifacts/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.ntvs_analysis.dat
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Test Results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# Build
[Oo]bj/
publish/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
